body {
    background-color: #2D3B45;
}

.root {
    display: flex;
    text-align: center;
    justify-content: center;
    grid-gap: 30px;
    grid-auto-flow: dense;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

h1 {
    color: white;
}

h2 {
    color: white
}

span {
    color: darkorange;
}

h3 {
    color: white
}

#header {
    color: darkorange;
}